@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.tab-list {
  padding-left: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.tab-list-item {
  color: rgba(0,0,0,.6);
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.75rem 2.75rem;
  text-transform: uppercase;
  cursor: pointer;
}
.tab-list-item:hover{
  background-color: #f5f0f9;
}
.tab-list-active {
  background-color:#ecddf9;
  border: none;
  border-bottom: 2px solid #6200ee;
  color: #6200ee;
}
.tab-list-active:hover {
  background-color:#ecddf9;
}